{% extends 'base.html.twig' %}

{% block title %}Demande de congé{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/conge_form.css') }}">
{% endblock %}

{% block body %}
<br>


{{ form_start(form) }}
    <div class="text-center">
        <h1 class="h1 mb-3 font-weight-normal color = ''">Demande de congé</h1>
    </div>
    <div class="form-group">
        <h1 class="h4 mb-2 mt-2 font-weight-normal color = ''">Mois</h1>
        {{ form_row(form.mois) }}
    </div>
    <div class="form-group">
        <h1 class="h4 mb-2 mt-2 font-weight-normal color = ''">Motif</h1>
        {{ form_row(form.motif) }}
    </div>
    <div class="form-group">
        <h1 class="h4 mb-2 mt-2 font-weight-normal color = ''">Date de Début</h1>
        {{ form_row(form.dateDebut) }}
    </div>
    <div class="form-group">
        <h1 class="h4 mb-2 mt-2 font-weight-normal color = ''">Date de Fin</h1>
        {{ form_row(form.dateFin) }}
    </div>
    <div class="form-group">
        <h1 class="h4 mb-2 mt-2 font-weight-normal color = ''">Nombres de Jour</h1>
        {{ form_row(form.nbjour) }}
    </div>
    <button class="btn btn-primary button">Envoyer</button>
{{ form_end(form) }}
{% endblock %}
