
<link rel="stylesheet" href="{{ asset('styles/edit_form.css') }}">

{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="custom-button-container">
        <button class="btn">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
