{% extends 'base.html.twig' %}

{% block title %}Note de frais{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/conge_form.css') }}">
{% endblock %}

{% block body %}
<br>

{{ form_start(form) }}
    <div class="text-center">
        <h1 class="h1 mb-3 font-weight-normal color = ''">Créer Note de Frais</h1>
    </div>
    <div class="form-group">
        <h1 class="h4 mb-2 mt-2 font-weight-normal color = ''">Nom</h1>
        {{ form_widget(form.nom) }}
    </div>
    <div class="form-group">
        <h1 class="h4 mb-2 mt-2 font-weight-normal color = ''">Service</h1>
        {{ form_widget(form.service) }}
    </div>
    <div class="form-group">
        <h1 class="h4 mb-2 mt-2 font-weight-normal color = ''">Période</h1>
        {{ form_widget(form.periode) }}
    </div>
    <div class="form-group">
        <h1 class="h4 mb-2 mt-2 font-weight-normal color = ''">Montant Total de votre note de frais</h1>
        {{ form_widget(form.total) }}
        {% if form.total.vars.errors | length > 0 %}
        <h1 class="h4 mb-2 mt-2 font-weight-normal text-danger">{{ form.total.vars.errors.0.message }}</h1>
        {% endif %}
    </div>
    
    <button class="btn btn-primary button">Envoyer</button>
{{ form_end(form) }}
{% endblock %}
