{% extends 'base.html.twig' %}

{% block title %}Note de frais{% endblock %}

{% block body %}
<br>

{{ form_start(form) }}
    <div class="text-center">
        <h1 class="h1 mb-3 font-weight-normal color = ''">Note de frais</h1>
    </div>
    <div class="form-group">
        <label for="nom" class="h4 mb-2 mt-2 font-weight-normal">Nom</label>
        {{ form_widget(form.nom) }}
    </div>
    <div class="form-group">
        <label for="service" class="h4 mb-2 mt-2 font-weight-normal">Service</label>
        {{ form_widget(form.service) }}
    </div>
    <div class="form-group">
        <label for="periode" class="h4 mb-2 mt-2 font-weight-normal">Période</label>
        {{ form_widget(form.periode) }}
    </div>
    
    <div class="form-group">
        <label for="total" class="h4 mb-2 mt-2 font-weight-normal">Total</label>
        {{ form_widget(form.total) }}
    </div>
    <button class="btn btn-primary button">Envoyer</button>
{{ form_end(form) }}
{% endblock %}
