<link rel="stylesheet" href="{{ asset('styles/form.css') }}">

{% block body %}
    <form method="post">
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="bout">
                <button type="submit" class="btn-specific">{{ button_label|default('Save') }}</button>
            </div>
        {{ form_end(form) }}
    </form>
{% endblock %}




{#


<link rel="stylesheet" href="{{ asset('styles/form.css') }}">

{% block body %}
    <form method="post">
 
        {{ form_start(form) }}
            {% block h1 %}{% endblock %}
        {{ form_widget(form) }}
        <div class="bout">
            <button type="submit" class="btn-specific">{{ button_label|default('Save') }}</button>
        </div>
        {{ form_end(form) }}
    </form>
{% endblock %}
#}

