{#
{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block body %} 
    <div style="text-align: center; margin-top: 20px;">
        <h1>Edit Utilisateur</h1>
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <a href="{{ path('app_user_index') }}">back list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
#}



{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/new.css') }}">
{% endblock %}

{% block body %} 
    <div style="text-align: center; margin-top: 20px;">
        <h1>Edit Utilisateur</h1>
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <a href="{{ path('app_user_index') }}" class="btn-back">back list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}


