{# new_user.twig #}

{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/conge.css') }}">
{% endblock %}
{% block body %}
<div style="text-align: center; margin-top: 20px;">
    <h1>Création d'Utilisateur</h1>
    {{ include('user/_form.html.twig') }}
</div>
{% endblock %}

{#{% block body %}
<div><h1> Creation d'Utilisateur </h1>
    {{ include('user/_form.html.twig') }}
    
    </div>#}

{#{% extends 'base.html.twig' %}


{% block title %}New User{% endblock %}

{% block body %}

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">Retour</a>
{% endblock %}#}
